@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  position: relative;
  padding: 0 0 0 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    150deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(66, 66, 185, 1) 34%,
    rgba(0, 212, 255, 1) 93%
  );
  background-attachment: fixed;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  display: block;
  table-layout: fixed;
}
.bg-color {
  background: #030303;
}
footer {
  /* clear: both;
  position: relative; */
  position: absolute;
  bottom: 0px;
  border-width: 10px 0 0 0;
  border-style: solid;
  border-image-source: url("./../images/linea-de-colores.png");
  border-image-slice: 1;
  overflow: hidden;
  z-index: 3;
  width: 100%;
}
@media (max-height: 1300px) {
  footer {
    position: relative;
  }
}

.container-fluid {
  padding: 0% 3% 0%;
}
.navbar {
  /* border-width: 0 0 10px 0;
  border-style: solid;
  border-image-source: url("./../images/linea-de-colores.png");
  border-image-slice: 1; */
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.25);
  height: 56px;
}
.logo {
  width: 130px;
  list-style: none;
}

/* COLUMNAS DEL DESPLEGABLE */

.navbar-collapse.collapse.show {
  background-color: #232324;
  display: flex;
}

.middlecolumn {
  padding-top: 20px;
  background-color: #000000;
  padding-left: 2%;
  display: flex;
}
.besidecolumns {
  padding-left: 3%;
  padding-top: 20px;
  background-color: #232324;
  display: flex;
}

p.subtitulo {
  font-weight: bold;
  text-align: left;
  color: white;
}

.nav-link {
  color: #fff;
}
.active {
  color: aquamarine;
}

.nav-item {
  text-align: left;
}
/* -------- */

li {
  list-style: none;
}
/*CUERPO*/

.espacio {
  height: 200px;
}
.espacio1 {
  height: 300px;
}
.idiomas {
  margin-left: 70%;
  margin-bottom: 3%;
}
.mapa-phone {
  display: none;
}

@media (max-width: 1000px) {
  .btpersonas,
  .btempresas,
  .btingresar,
  .btcliente {
    display: none;
  }
}
@media (max-width: 600px) {
  .mapa-phone {
    margin-top: 150px;
    display: list-item;
  }
  .mapa-desktop {
    display: none;
  }
}
