@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  position: relative;
  padding: 0 0 0 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    150deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(66, 66, 185, 1) 34%,
    rgba(0, 212, 255, 1) 93%
  );
  background-attachment: fixed;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  display: block;
  table-layout: fixed;
}
.bg-color {
  background: #000000;
}
footer {
  /* clear: both;
  position: relative; */
  position: absolute;
  bottom: 0;
  border-width: 10px 0 0 0;
  border-style: solid;
  border-image-source: url("./../images/linea-de-colores.png");
  border-image-slice: 1;
  overflow: hidden;
  z-index: 3;
  width: 100%;
}
@media (max-height: 1000px) {
  footer {
    position: relative;
  }
}

.container-fluid {
  height: 56px;
  padding: 0% 3% 0%;
}

.logo {
  width: 130px;
  list-style: none;
}

.espacio {
  height: 55px;
  min-width: 100%;
}
.espacio1 {
  height: 300px;
}
/* DESPLEGABLE */
header {
  background: black;
  height: 56px;
  border-width: 0 0 10px 0;
  border-style: solid;
  border-image-source: url("./../images/linea-de-colores.png");
  border-image-slice: 1;
  padding: 0px 0 0 0;
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.25);
}
.navbar {
  height: 56px;
  --bs-navbar-padding-y: 0.5;
}
.header-menu {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin-right: 50px;
}
#btn-menu {
  display: none;
}

header label {
  font-size: 30px;
  cursor: pointer;
  margin-top: 10px;
  display: none;
}

.menu {
  height: 50px;
  top: 0;
}

.menu ul {
  background-color: rgb(0, 0, 0);
  display: flex;
  list-style: none;
  padding: 10px 0 0 0;
}

.menu ul ul {
  display: none;
  background-color: rgb(15, 15, 15);
}
.menu a {
  display: block;
  padding: 0px 20px;
  color: #fff;
  text-decoration: none;
}

.menu a:hover {
  background: rgb(43, 109, 207);
}

.menu a span {
  margin-left: 10px;
  right: 5px;
}

.menu ul li:hover ul {
  display: block;
  position: absolute;
  z-index: 9999;
}

@media (max-width: 768px) {
  header label {
    display: block;
  }
  .menu {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    z-index: 9999999;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  .menu ul {
    display: block;
  }
  .menu ul li:hover ul {
    display: none;
    position: static;
    background-color: rgb(15, 15, 15);
  }
  .menu a span {
    position: absolute;
    right: 5px;
  }
  #btn-menu:checked ~ .menu {
    transform: translateX(0%);
  }
  .menu ul ul a {
    padding: 15px 40px;
  }
}

/* ------------------------- */
.col {
  width: 100%;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0px 200px 100px 200px;
}

#A {
  display: grid;
  position: relative;
  height: 100%;
  width: 50%;
  min-height: max-content;
}
#padre-dineroDisponible {
  position: relative;
  height: 220px;
  width: 100%;
  right: 0;
  top: 0;
  text-align: center;
  padding: 0px 20px;
}
#hijo-dineroDisponible {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  justify-content: center;
  padding: 10px 10px 10px 10px;
}
#textTusaldo {
  font-size: large;
}
.botones-A {
  position: relative;
  display: flex;
  margin-top: 20px;
  padding: 0px 10px;
  width: 100%;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
a.button4 {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}
.ul-botones {
  width: 100%;
}

.liB {
  display: inline;
  margin-right: 2px;
}

@media all and (max-width: 30em) {
  a.button4 {
    display: block;
    margin: 2px;
  }
}

@media all and (min-width: 501px) and (max-width: 1120px) {
  .botones-A {
    text-align: center;
  }
  .btB {
    margin-right: 1px;
    display: inline-block;
  }
}

/* -------------------------------- */

#B {
  display: grid;
  position: relative;
  width: 50%;
  min-height: max-content;
}

#padre-ultimosmovimientos {
  position: absolute;
  height: 400px;
  width: 100%;
  text-align: center;
}
#hijo-ultimosmovimientos {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin: 0px auto;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  top: 0;
}

.ultimosmovimientos1 {
  border: 0.826626px solid #000000;
  background-color: rgba(0, 0, 0, 0.25);
}

#textUltimosMov {
  font-size: large;
}

.divisor-movimientos {
  width: 80%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  .col {
    display: block;
    width: 100%;
    padding: 0 0 0 0;
  }
  #A {
    width: 100%;
    height: 300px;
    text-align: center;
  }
  #B {
    width: 100%;
    height: 600px;
    text-align: center;
  }
  #padre-ultimosmovimientos {
    position: relative;
    height: 400px;
    width: 85%;
    text-align: center;
    margin: 0px auto;
    padding: 0px 20px;
  }

  #padre-dineroDisponible {
    position: relative;
    height: 220px;
    width: 85%;
    text-align: center;
    margin: 0px auto;
    padding: 0px 20px;
  }
  #hijo-dineroDisponible {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    justify-content: center;
    padding: 10px 10px 10px 10px;
  }
}

/*------USUARIO NAME------*/

.action-p {
  position: fixed;
  top: 10px;
  right: 25px;
}
.action-p .profile-p {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.action-p .profile-p img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action-p .menu-p {
  position: absolute;
  top: 60px;
  right: -15px;
  padding: 10px 0px;
  background: rgb(255, 255, 255);
  width: 180px;
  box-sizing: 05px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.action-p .menu-p h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: #2b2b2b;
  line-height: 1.2em;
}

.action-p .menu-p.active-p {
  visibility: visible;
  opacity: 1;
}

.action-p .menu-p::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}
.action-p .menu-p ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  direction: flex;
  align-items: center;
  justify-content: center;
}
.action-p .menu-p ul li:hover img {
  opacity: 1;
}
.action-p .menu-p ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.action-p .menu-p ul li::hover a {
  color: rgb(255, 0, 0);
}
