@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.dark-doc {
  --gradient: linear-gradient(
    150deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(102, 102, 236) 34%,
    rgb(160, 236, 252) 93%
  );
  --bg-col: #141414;
  --text-light: rgb(213, 213, 213);
  --details: rgb(10, 73, 178);
  --togglemenu: rgb(46, 44, 46);
}
.white-doc {
  --gradient: linear-gradient(
    170deg,
    rgba(232, 245, 255) 0%,
    rgb(232, 240, 255) 34%,
    rgb(199, 207, 228) 50%
  );
  --bg-col: rgb(255, 255, 255);
  --text-light: rgb(46, 79, 104);
  --details: #4e86ff;
  --togglemenu: rgb(82 114 155);
}
.bg-color {
  background: var(--bg-col);
}
.text-light {
  --bs-text-opacity: 1;
  color: var(--text-light) !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  position: relative;
  padding: 0 0 0 0;
  background: var(--gradient);
  background-attachment: fixed;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  display: block;
  table-layout: fixed;
}

footer {
  border-width: 5px 0 0 0;
  border-style: solid;
  border-image-source: url("./../images/linea-de-colores.png");
  border-image-slice: 1;
  z-index: 3;
  font-size: small;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: contents;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 130px;
  list-style: none;
}
/* DESPLEGABLE */
header {
  height: 56px;
}

.navbar {
  /* border-width: 0 0 5px 0;
  border-style: solid;
  border-image-source: url("./../images/linea-de-colores.png");
  border-image-slice: 1; */
  padding: 0 30px;
  height: 56px;
  position: fixed;
  width: 100%;
  z-index: 99999;
}

/* ------------------------------ */

#btn-menu {
  display: none;
}
header label {
  font-size: 30px;
  cursor: pointer;
  display: none;
}
header label:hover {
  color: #424242;
}
.menu ul {
  display: flex;
  list-style: none;
  padding: 5px 5px 5px 5px;
  justify-content: center;
  background-color: var(--togglemenu);
}
.menu li:hover {
  background: var(--bs-border-color-translucent);
  color: rgb(119, 179, 232);
}
.menu ul ul {
  margin-top: 5px;
  position: absolute;
  display: block;
  border-radius: 3px;
}
.submenu-inactive {
  display: none;
  visibility: collapse;
}
.submenu-active {
  display: inline;
}
.menu a {
  display: block;
  padding: 0px 20px;
  color: #fff;
  text-decoration: none;
}
.menu a span {
  margin-left: 10px;
  right: 5px;
}
.menu {
  height: 34px;
  opacity: 0.87;
  top: 0;
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  transition: all 0.3s;
  justify-content: center;
  z-index: 2;
}
.menu-active {
  transform: translateX(0%);
}

@media (max-width: 1000px) {
  header label {
    display: block;
  }
  .menu ul {
    display: block;
    background-color: var(--togglemenu);
    list-style: none;
    padding: 0px;
  }
  .menu a {
    display: block;
    padding: 0px 10px;
    text-decoration: none;
  }

  .menu a span {
    margin-left: 10px;
    position: absolute;
    right: 5px;
  }
  .menu li:hover {
    background: var(--bs-border-color-translucent);
    color: rgb(119, 179, 232);
  }
  .menu ul li {
    font-size: medium;
    font-weight: 400;
    padding: 10px 0px 10px 0px;
  }
  .menu ul ul {
    background-color: var(--bs-border-color-translucent);
    position: relative;
    display: block;
    border-radius: 1px;
  }
  .menu ul ul a {
    padding: 0px 0px 0px 40px;
  }
  .submenu-inactive * {
    display: none;
  }
  .submenu-active * {
    display: inline;
  }

  .menu-inactive {
    transform: translateX(-100%);
  }

  #textUltimosMov {
    font-size: smaller;
  }
}

/*--------------- SWITCH ---------------*/

.switch-label {
  background-color: rgb(54, 52, 56);
  display: flex;
  border-radius: 50px;
  height: 26px;
  width: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  transition: 0.4s;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
  margin-right: 7px;
}

.ball {
  background-color: #fff;
  position: absolute;
  height: 22px;
  width: 22px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.1s linear;
}

.switch {
  opacity: 0;
  position: absolute;
}

.switch:checked + .switch-label {
  background-color: #7c98ab;
  transition: 0.4s;
}

.switch:checked + .switch-label .ball {
  transform: translateX(24px);
}

.swal-wide {
  height: 300px;
}

.img {
  height: 200px;
}
#main-contenedor {
  height: 100vh;
}
/* ALTURA FIX */
@media (max-height: 1000px) {
  #main-contenedor {
    height: 1000px;
  }
}
