@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  position: relative;
  padding: 0 0 0 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    150deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(66, 66, 185, 1) 34%,
    rgba(0, 212, 255, 1) 93%
  );
  background-attachment: fixed;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
  margin: 0;
  min-height: 200vh;
  display: block;
  table-layout: fixed;
}
.bg-color {
  background: #030303;
}

img.barra-colores {
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0px;
  top: 98%;
  z-index: 2;
}

.container-fluid {
  padding: 0% 3% 0%;
}

.logo {
  width: 200px;
  list-style: none;
}

/* .navbar-collapse.collapse.show {
  background-color: #5590c7;
  width: 100%;
} */

p.subtitulo {
  font-weight: bold;
  text-align: left;
}

.nav-link {
  color: #fff;
}
.nav-link active {
  color: rgb(32, 68, 122);
}
.nav-item {
  text-align: left;
}
/* -------- */

.white {
  color: #fff;
}

li {
  list-style: none;
}

.sidebar {
  position: fixed;
  margin-top: 90px;
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #00324b;
  overflow-x: hidden;
  transition: 0.4s;
  padding: 1rem 0;
  box-sizing: border-box;
}
div {
  display: bolck;
}
