.barra-colores {
  z-index: 10;
}

#navbarNav {
  width: 100%;
  z-index: 5;
  position: absolute;
}

#Carrusel {
  z-index: 0;
  position: absolute;
}

.carousel-item {
  max-height: 700px;
}

.acceso-rapido-fondo {
  margin-left: auto;
  margin-right: auto;
  background-color: #002c50;
  margin-top: 200px;
  height: 133px;
  width: 917px;
  border-radius: 20px;
}

.acceso-rapido-text {
  color: #fff;
}

.acceso-rapido-lista li {
  margin-top: 20px;
  display: inline-block;
  padding-left: 40px;
  padding-right: 30px;
}
