.barra-colores {
  z-index: 10;
}

#navbarNav {
  width: 100%;
  z-index: 5;
  position: absolute;
}

#Carrusel {
  z-index: 0;
  position: absolute;
  width: 100%;
}

.carousel-item {
  max-height: 700px;
  width: 100%;
}

#contenedor-carrusel {
  min-width: 100%;
  padding: 0px 0px 0px 0px;
}

.acceso-rapido-fondo {
  background-color: #002c50;
  height: 200px;
  width: 100%;
  align-items: center;
}

#container-acceso-rapido {
  position: relative;
  min-height: max-content;
  min-width: 100%;
  padding: 0px 0px 0px 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  clear: both;
  overflow: hidden;
}

.acceso-rapido-text {
  color: #fff;
  text-align: center;
  justify-content: center;
}

#li-accesorapido {
  margin-top: 50px;
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
}
